services:
  prometheus:
    image: prom/prometheus:main
    volumes:
      - prometheus_data:/prometheus
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - 9090:9090
    restart: unless-stopped

volumes:
  prometheus_data: