services:
#prometheus
  prometheus:
    container_name: prometheus_ct
    image: prom/prometheus:main
    volumes:
      - prometheus_data:/prometheus
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - 9090:9090
    restart: unless-stopped
    networks:
      - monitoring

#grafana    
  grafana:
    container_name: grafana_ct
    image: grafana/grafana:main
    ports:
      - 3000:3000
    volumes:
      - grafana_data:/var/lib/grafana
    restart: unless-stopped
    networks:
      - monitoring

#alert manager
  alertmanager:
    container_name: alertmanager_ct
    image: prom/alertmanager:latest
    restart: unless-stopped
    volumes:
      - ./alertmanager.yml:/etc/alertmanager/alertmanager.yml
    command:
      - --config.file=/etc/alertmanager/alertmanager.yml
    ports:
      - 9093:9093
    networks:
      - monitoring


volumes:
  prometheus_data:
  grafana_data:

networks:
  monitoring:
    driver: bridge